body{
  font-family: "Helvetica Neue", sans-serif;
  background-color: #2B2B2B;
}

#headerContent{
  background-color: white;
  height: 65px;
  width: 100%;
  display: inline-block;
}

#mainHeading{
  float: left;
  width: 38%;
  padding-left: 120px;
  margin-top: -20px;
}

#mainHeading a{
  color: #DE1B1B;
  text-decoration: none;
  font-size: 30px;
}

#mainHeading a:hover{
  color: black;
}

#logoImage img{
  padding-top: 3px;
  width: 55px;
}

#mainList{
  float: right;
  margin-top: -50px;
  padding-right: 120px;
}

#mainList ul li a{
  font-weight: bold;
  color: brown;
  text-decoration: none;
}

#mainList ul li a:hover{
  color: black;
}

#headerContent li{
  float: right;
  list-style-type: none;
  margin: 10px 10px 10px 10px;
}

.content h1{
  width: 100%;
  text-align: center;
  color: #DE1B1B;
}

.img-background img{
  padding-left: 17%;
  position: absolute;
  width: 1000px;
  left:0;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.img-background img:hover{
  opacity: 0;
}

@media screen and (max-width: 768px){

}
